@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Open+Sans&family=Press+Start+2P&family=Shizuru&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: black; */
  font-family: "Open Sans", sans-serif;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.display {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1478px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid grey;
  flex-direction: column;
  box-shadow: inset 2px solid grey;
  background: #90afc5;
}

.keyboard {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 1478px;
  height: 500px;
  border-radius: 5px;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.row1 {
  display: grid;
  grid-template-columns: repeat(13, 94px) 153px;
  grid-auto-rows: 94px;
  grid-gap: 8px;
}

.row2 {
  display: grid;
  grid-template-columns: 152px repeat(13, 94px);
  grid-auto-rows: 94px;
  grid-gap: 8px;
}

.row3 {
  display: grid;
  grid-template-columns: 115px repeat(11, 94px) 175px;
  grid-auto-rows: 94px;
  grid-gap: 8px;
}

.row4 {
  display: grid;
  grid-template-columns: 115px repeat(10, 94px) 115px;
  grid-auto-rows: 94px;
  grid-gap: 8px;
}

.row5 {
  display: grid;
  grid-template-columns: 540px;
  grid-auto-rows: 94px;
  grid-gap: 8px;
  margin-bottom: 0px;
  justify-content: center;
}

.row .keys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #2a3132;
  background-color: #336b87;
  /* box-shadow: inset 2px 1px 1px #0d0d0e(255, 255, 255, 0.15); */
}

.row .keys span:last-child {
  margin-top: 5px;
}

.row .keys:hover {
  background-color: #eef4f5;
  /* text-decoration: #0d0d0e; */
}

.keypress {
  transform: scale(0.95);
  box-shadow: 5px 4px 22px 3px rgba(0, 0, 0, 0.24);
}
